<div class="carousel-of-happy-dogs">
  <h2 class="title-header centered">Happy 4 legged Mavenlink Customers</h2>
  <p class="standard-copy carousel-header-copy centered">Join the thousands of Mavenlink users who are making puppies happier by managing their people, projects, profits &amp; 4 legged customers! Mavenlink is a powerful business management tool.</p>
  <div class="dog-carousel">
    <%= image_tag 'industries/dog5.jpg', class: 'carousel-item' %>
    <%= image_tag 'industries/dog4.jpg', class: 'carousel-item' %>
    <%= image_tag 'industries/dog3.jpg', class: 'carousel-item' %>
    <%= image_tag 'industries/dog2.jpg', class: 'carousel-item' %>
    <%= image_tag 'industries/dog1.jpg', class: 'carousel-item' %>
  </div>

</div>

<script>
  $(document).ready(function() {
    $(function () {
      $('.dog-carousel img:gt(0)').hide();
      setInterval(function () {
          $('.dog-carousel :first-child').fadeOut()
            .next('.carousel-item').fadeIn()
            .end().appendTo('.dog-carousel');
        },
        3000);
    });
  });
</script>
