<div class="header">
  <div class="logo">
    <%= image_tag "logo/ml-logo.png" %>
  </div>
    <ul class="top-nav">
      <li><%= link_to 'Request Demo', '#', class: 'button blue-back-white-text nav-link most-right-link' %></li>
      <li><%= link_to 'Login', '#', class: 'button transparent-back-white-text nav-link' %></li>
      <li><%= link_to 'Tour', '#', class: 'nav-link nav-text-link' %></li>
      <li><%= link_to 'Pricing', '#', class: 'nav-link nav-text-link' %></li>
    </ul>
</div>
